header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

.header {
  background-color: #0a67ca;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.news {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.news-list li:last-child {
  border-bottom: none;
}